{% extends 'base.html' %}

{% block content %}
<br xmlns="">
<h1>Delete Record</h1>
 <div class="form-group">
        <label for="deletion_reason">Reason for Deletion (required):</label>
        <br></br>
        <textarea id="deletion_reason" name="deletion_reason" class="form-control" rows="3" required></textarea>
    </div>
<br></br>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'leads' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
