{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Notifications</h1>

    {% if notifications %}
     <ul class="list-group" id="notificationList">
    {% for notification in notifications %}
        <li class="list-group-item {% if not notification.is_read %}bg-light-red text-dark{% else %}bg-light{% endif %} d-flex justify-content-between align-items-center">
            <div>
                {% if notification.link_url %}
                    <a href="{{ notification.link_url }}">{{ notification.message }}</a>
                {% else %}
                    <p class="mb-0">{{ notification.message }}</p>
                {% endif %}
                <small class="text-muted">- {{ notification.created_at|date:"F d, Y H:i:s" }}</small>
            </div>
        </li>
    {% endfor %}
</ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            No notifications available.
        </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const notificationSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/notifications/'
    );

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const notificationsList = document.getElementById('notificationList');
        const newNotification = document.createElement('li');
        newNotification.className = 'list-group-item bg-light-red text-dark d-flex justify-content-between align-items-center';
        newNotification.innerHTML = `
            <div>
                <p class="mb-0">
                    <a href="${data.link_url}" class="text-decoration-none text-dark">
                        ${data.message}
                    </a>
                </p>
                <small class="text-muted">- Just now</small>
            </div>
        `;
        notificationsList.insertBefore(newNotification, notificationsList.firstChild);
    };

    notificationSocket.onclose = function(e) {
        console.error('Notification socket closed unexpectedly');
    };
});
</script>

<style>
.bg-light-red {
    background-color: #f8d7da; /* Light red color */
}
.bg-light {
    background-color: #f8f9fa; /* Light grey color */
}
.text-decoration-none {
    text-decoration: none;
}
</style>
{% endblock %}
