{% extends 'base.html' %}

{% block content %}
<br>
<h1> Customer Record </h1>
<br>
<div class="card">
  <div class="card-header">
   {{ customer_record.client_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">
        <strong>ID:</strong> {{ customer_record.id }}<br>
        <strong>Company:</strong> {{ customer_record.company }}<br>
        <strong>Department:</strong> {{ customer_record.dept_name }}<br>
        <strong>Phone:</strong> {{ customer_record.phone }}<br>
        <strong>Email:</strong> {{ customer_record.email }}<br>
        <strong>Address:</strong> {{ customer_record.address }}<br>
        <strong>Assigned Person:</strong> {{ customer_record.assigned_to.username }}<br>
        <strong>Follow-Up Date:</strong> {{ customer_record.follow_up_date }}<br>
        <strong>Created At:</strong> {{ customer_record.created_at }}<br>
        <strong>Created By:</strong> {{ record.created_by }}<br>
        <strong>Attachments:</strong>
        {% if customer_record.attachments %}
            <a href="{{ customer_record.attachments.url }}" target="_blank">{{ customer_record.attachments.name }}</a>
        {% else %}
            No attachments
        {% endif %}
    </h5>
  </div>
</div>

<br><br/>

<button class="btn btn-primary" onclick="window.history.back()">Back</button>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

{% endblock %}
