{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <br>
    <h1>Update Record</h1>
    <br/>
    <!-- Display messages if any -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" onclick="window.history.back()">Back</button>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
